:root {
  --base00: #212121;
  --base01: #2d2d2d;
  --base02: #424242;
  --base03: #4a4a4a;
  --base04: #555555;
  --base05: #afafaf;
  --base06: #c8c8c8;
  --base07: #fafafa;
  --base08: #fc4c51;
  --base09: #f5871f;
  --base0A: #ffeaaa;
  --base0B: #bff3c6;
  --base0C: #d5f3f1;
  --base0D: #92b6e0;
  --base0E: #f9aae0;
  --base0F: #d19a66;
}
