@media (prefers-color-scheme: dark) {
  :root {
    --base00: rgb(33, 33, 33);
    --base01: rgb(45, 45, 45);
    --base02: rgb(66, 66, 66);
    --base03: rgb(75, 75, 75);
    --base04: rgb(85, 85, 85);
    --base05: rgb(175, 175, 175);
    --base06: rgb(200, 200, 200);
    --base07: rgb(250, 250, 250);
    --base08: #fc4c51;
    --base09: #f5871f;
    --base0A: #ffeaaa;
    --base0B: #91c698;
    --base0C: #b0cbc9;
    --base0D: #92b6e0;
    --base0E: #f9aae0;
    --base0F: #d19a66;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --base00: #ffffff;
    --base01: #f2f2f2;
    --base02: #e0e0e0;
    --base03: #c6c6c6;
    --base04: #8e908c;
    --base05: #4d4d4c;
    --base06: #282a2e;
    --base07: #1d1f21;
    --base08: #f36671;
    --base09: #f5871f;
    --base0A: #d2b538;
    --base0B: #1fc46c;
    --base0C: #30b9b5;
    --base0D: #3c70b5;
    --base0E: #8959a8;
    --base0F: #a3685a;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: Inter, sans-serif;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  margin: 0;
  background: var(--base01);
  color: var(--base07);
  overflow: hidden;
}

h1 {
  letter-spacing: -0.05rem;
}

body > header {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: var(--base0C);
}

body > header > nav > a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  color: var(--base00);
  font-weight: bold;
}

body > header > nav > a:hover {
  background: hsla(0, 0%, 100%, 0.25);
}
body > header > nav > a.active {
  background: hsla(0, 0%, 0%, 0.075);
  /* background: var(--base08); */
}

.icon {
  height: 1rem;
  width: 1rem;
}

.error {
  font-family: monospace;
  background: var(--base0D);
  color: var(--base00);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
  padding-bottom: 10rem;
  box-sizing: border-box;
}

/* FORMS */
input[type="text"],
input[type="email"],
input[type="password"],
button {
  font: inherit;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: solid 1px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: var(--base00);
  border-color: var(--base03);
}

button {
  background-color: var(--base02);
  border-color: var(--base04);
}
