main {
  padding: 2rem;
}

h2 {
  margin: 0;
  color: var(--base05);
}

main ul {
  padding: 0;
  list-style: none;
}

main li {
  display: flex;
  align-items: center;
  color: var(--base05);
  margin: 1rem 0;
  position: relative;
  padding: 0.25rem;
}

main li:not(:last-child):before {
  content: " ";
  position: absolute;
  left: 1.125rem;
  bottom: -1rem;
  height: 1rem;
  width: 0.2rem;
  background: var(--base02);
}

main li a {
  color: var(--base07);
  text-decoration: none;
  font-weight: 600;
}

main li a:hover {
  color: var(--base08);
}

main li svg {
  background: var(--base0E);
  color: white;
  padding: 0.5rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}
