main {
  padding: 2rem;
  width: 400px;
  margin: auto;
  padding-bottom: 20rem;
}

h1 {
  text-align: center;
}

[data-fade="false"] {
  opacity: 0;
}

[data-fade="true"] {
  transition: opacity 300ms ease;
  opacity: 1;
}
